body{
    background: lightgrey;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
}
.main span {
    font-size: 28px;
    font-weight: bold;
    
}
.main img {
    width: 466px;
    height: 498px;
    border-radius: 6px;
    
}
.butt {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.butt button {
    width: 90px;
    height: 45px;
    border: none;
    border-radius: 6px;
    gap: 40px;
    box-shadow: 0 4px 0 rgb(160, 160, 160); 
    transition: all 0.2s ease;
    
}
#buttYES:hover {
    background: lightgreen;
    transform: translateY(2px);
    box-shadow: 0 2px 0 rgb(99, 99, 99);

}
#buttNO:hover {
    background: lightcoral;
    transform: translateY(2px);
    box-shadow: 0 2px 0 rgb(99, 99, 99);
}
#buttYES:active {
    transform: translateY(4px);
  box-shadow: none;
}
#buttNO:active {
    transform: translateY(4px);
  box-shadow: none;
}
@media (max-width: 768px) {
    body{
        text-align: center;
        padding-top: 50px;
    }
    .main img {
    width: 80%;
    height: 80%;
    
    
}
}